/* only works on className="profile_picture container"*/
.profile_picture.container {
  width: 25%;
}
.profile_picture .picture {
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0 0 0 5px #fff;
  border-radius: 50%;
  width: 100%;
}
